* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
}

body {
    background-color: #131313;
}

/* NAVIGATION BAR */
nav {
    position: sticky;
    z-index: 2;
    top: 0;
	overflow: hidden;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: .25em 3em;
    padding-top: 1em;
	margin: auto;
    text-align: center;
    background-color: #131313;
}

.nav-links {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}

.nav-list {
    display: inline-flex;
    list-style-type: none;
    padding-top: 10px;
    gap: 1rem;
}

nav a {
    color: #808596;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Archivo-Thin, sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    padding: .25em .3em;
    border-radius: 7px;
    margin: 15px;
}

.nav-links a:hover {
    border: .75px solid #808596;
    border-radius: 7px;
    padding: 3px 7px;
    transition-duration: 300ms;
}

.nav-links a.active {
	color: #fdfdfd;
    font-family: Archivo-Light, sans-serif;
}

.nav-links a.active:hover {
	border: none;
}

.logo img {
    height: 3rem;
}

li {
    display: inline;
}

/* BODY CONTENT */
.content {
    margin: auto;
    padding: 3em 4em;
}

p {
    font-family: 'Montserrat', sans-serif;
    color: #d8dadc;
    font-weight: lighter;
    font-size: 14px;
}

/* FOOTER */
footer {
    margin: auto;
    text-align: center;
    padding: 20px 0px;
}

footer img {
    width: 2.75%;
    padding: 7px;
}

footer p {
    font-family: Archivo-Thin, sans-serif;
    color: #808596;
    font-size: 12px;
    padding: 7px;
}