* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
}

body {
    background-color: #131313;
}

/* NAVIGATION BAR */
nav {
    position: sticky;
    z-index: 2;
    top: 0;
	overflow: hidden;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: .25em 3em;
    padding-top: 1em;
	margin: auto;
    text-align: center;
    background-color: #131313;
}

.nav-links {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}

.nav-list {
    display: inline-flex;
    list-style-type: none;
    padding-top: 10px;
    gap: 1rem;
}

nav a {
    color: #808596;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Archivo-Thin, sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    padding: .25em .3em;
    border-radius: 7px;
    margin: 15px;
}

.nav-links a {
    border: .75px solid #131313;
    border-radius: 7px;
    padding: 3px 7px;
}

.nav-links a:hover {
    border: .75px solid #808596;
    transition-duration: 300ms;
}

.nav-links a.active {
	color: #fdfdfd;
    font-family: Archivo-Light, sans-serif;
}

.nav-links a.active:hover {
	border: none;
}

.logo img {
    height: 3rem;
}

li {
    display: inline;
}

/* BODY CONTENT */
/* .content {
    margin: auto;
    padding: 3em 4em;
} */

.box {
    display: flex;
    flex-direction: row;
    align-content: center;
    margin: 0% 70px;
    /* background-color: red; */
}

.left-cell{
    width: 50%;
    margin: 2% 3% 2% 0%;
    padding-top: 2%;
    /* background-color: rgb(21, 69, 69); */
}

.right-cell{
    width: 50%;
    margin: 2% 0% 2% 3%;
    padding-top: 2%;
    /* background-color: rgb(21, 69, 69); */
}

h2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-family: Archivo-Bold, sans-serif;
    text-align: right;
    /* font-size: 175px; */
    font-size: 10em;
    width: auto;
    color: #6d779b;
    margin-top: 7%;
    margin-left: 5%;
    line-height: 135px;
}

p {
    font-family: Be Vietnam Pro, sans-serif;
    color: #d8dadc;
    font-weight: lighter;
    font-size: 14px;
    line-height: 22px;
}

.bio-p {
    margin: 10% 15% 15% 0%;
}

/* FOOTER */
footer {
    margin: auto;
    text-align: center;
    padding: 20px 0px;
}

footer img {
    width: 30px;
    padding: 0px 7px;
    margin: 0px 7px;
    border: 1px solid #131313;
    border-radius: 7px;
    padding: 2px 2px;
}

footer img:hover {
    border: 1px solid #808596;
    transition-duration: 300ms;
}

footer p {
    font-family: Archivo-Thin, sans-serif;
    color: #555965;
    font-size: 12px;
    padding: 7px;
}