/* TEXT */
.project-name {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-family: 'Manrope', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    text-align: right;
    font-size: 8.5vw;
    line-height: .85em;
    width: auto;
    color: #131313;
    -webkit-text-stroke: 2px #ff7244;
}

.description {
    font-family: Be Vietnam Pro, sans-serif;
    text-align: justify;
    padding-left: 3vw;
    color: #d8dadc;
    font-weight: lighter;
    font-size: 14px;
    line-height: 22px;
}